/* TODO Add site wide styles */
/* 
html {
  background-image: url('http://7-themes.com/data_images/out/50/6943108-cool-websites.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fit-content;
}  */
