li {
  list-style: none;
}

img {
  height: auto;
  width: 250px;
}

.main-background {
  width: 100%;
}

.main-page-div {
  padding-left: 75px;
  padding-right: 75px;
}

.sectionDiv {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  grid-column-end: span 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.section {
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 250px));
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
}

.featured-videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
