li {
  list-style: none;
}


.main-background {
  width: 100%;
  height: auto;
}

.main-page-div {
  padding-left: 75px;
  padding-right: 75px;
}

.section {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -5px;
  background-color: #E2E3E5;
  padding: 30px;
}

.featured-videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-profileDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.videoTitle {
  display: flex;
  flex-wrap: wrap;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: auto;
  height: auto;
}


.pulse:hover {
  border-radius: 10px;
  animation: pulse 1s infinite;
  transition: all 0.3s ease 0s;
  opacity: 0.85;
  filter: brightness(1.25);
  cursor: pointer;
}



@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #2187ff;
    box-shadow: 0 0 0 0 #2187ff;
  }
  50% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
