nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  background: linear-gradient(to right, #480ca8, #000000);
  position: sticky;
  top: 0px;
  z-index: 2;
}

.navUl {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
  border-radius: 25px; 
  margin: 10px;
}

.fas {
  color: #2187ff;
}

.auth {
  font-size: bold;
}
