nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(to right, #480ca8, #000000);
}

.navUl {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 60px;
  height: auto;
  border-radius: 25px; 
  margin: 10px;
}
